.container {
  header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

header {
  margin-bottom: 16px;
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    p {
      margin: 0;
    }
    p:nth-child(1) {
      font-weight: 700;
      color: #fff;
      padding: 4px 8px;
      background-color: #ff7b29;
      border-radius: 50%;
    }
    p:nth-child(2) {
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-weight: 700;
      span {
        color: #ff7b29;
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    gap: 34px;
    margin: 0;
    li {
      a {
        font-size: 14px;
        font-weight: 500;
        color: #676a6c;
        position: relative;
        transition: color 0.5s ease-in-out;
      }
      a::after{
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        border-radius: 4px;
        background-color: #ff7b29;
        bottom: -3px;
        transition: width 0.5s ease-in-out;
      }
      a:hover{
        color: #000;
      }
      a:hover::after{
        width: 100%;
      }
    }
    li:nth-child(1) {
      a {
        color: #000;
      }
    }
  }
  .nav-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
      font-size: 24px;
      transition: color 0.5s ease-in-out;
    }
    a:hover{
      color: #ff7b29;
    }
  }
  .menu {
    display: none;
    button {
      border: none;
      background: none;
      font-size: 24px;
      font-weight: 700;
      transition: color 0.5s ease-in-out;
    }
    button:hover {
      color: #ff7b29;
    }
  }
}
@media screen and (max-width: 992px) {
  header {
    ul {
      display: none;
    }
    .nav-icon {
      display: none;
    }
    .menu {
      display: block;
    }
  }
}
